#LearnerModal,#MentorModal{
    /* background-image: url("C:/Users/768678/Desktop/Mentor-on-demand/images/login-bg-image.jpg"); */
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 